.bckgrnd-clr .back-dark {
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 234);
}


.bckgrnd-clr .back-light .card {
    background-color: unset;
    border: none;
}

.back-dark h3,
.back-light h3 {
    font-family: 'press start 2p';
    font-size: calc(1.3rem + 1vw);
    margin: 1.2vw;
}

.back-dark .card {
    background: none;
    border: none;
    color: rgb(255, 255, 234);
    align-items: center;
}

.back-dark .card img {
    max-height: 35vw;
    width: fit-content;
}

.permanent,
.price {
    display: flex;
    justify-content: space-between;
}

.bckgrnd-clr .price .back-light,
.bckgrnd-clr .offer .back-light {
    background-color: #fffdf4c5;
}

.offer ul {
    list-style: circle;
    text-align: left;

}

.bckgrnd-clr .offer ul {
    font-size: 1.2rem;
}

.bckgrnd-dark .offer ul {
    font-size: 1.45vw;
}

.offer .back-light a {
    text-decoration: none;
    color: black;
    transition: .4S;
}

.offer .back-light a:hover {
    color: #c58141 !important;
}

.offer .back-dark ul,
.offer .back-dark p {
    color: #ebddfa;
}

.offer .back-dark h4 {
    font-size: calc(1.275rem + .3vw);
    margin: 0;
    padding: 0;
}

.offer .back-dark a {
    text-decoration: none;
    color: #cdb9f3;
    transition: .4s;
}

.offer .back-dark a:hover {
    color: #7f8cff;
}

.permanent .row,
.back-dark .row-cols-1,
.price .row-cols-3,
.back-dark .row-cols-2 {
    margin: .4rem;
}

.back-dark .row-cols-2 {
    width: 40%;
}

.bckgrnd-clr .back-dark p {
    font-size: calc(1rem + 0.7vw);
    color: rgb(255, 255, 234);
}

.bckgrnd-clr .back-dark .row-cols-2 {
    width: 50%;
    background-color: #061d259a;
}

.bckgrnd-clr .price .row {
    width: 33.33333333%;
}

.price .row .col,
.bckgrnd-clr .contact .row .col {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.price .row .col .card {
    background-color: #fffdf4c5;
    border: none;
    padding: .8rem;
    width: 100%;
    justify-content: center;
}

.price .row .col .card {
    background-color: unset;
    justify-content: flex-start;
}

.price .row .col .card h1 {
    margin-bottom: 2vw;
}

.price .row .col .card h2 {
    margin: 0;
    padding: 0;
    font-size: 3.4vw;
}

.bckgrnd-dark .price h4 {
    margin-top: 2vw;
    font-size: 2vw;
    color: #24ff78;
}

.bckgrnd-dark .price ul li {
    color: #cdb9f3;
    font-size: 1.5vw;
}

.price .back-dark {
    width: 50%;
}

.price h4 {
    font-size: 1rem;
    margin-top: 2rem;
}

.price ul {
    text-align: initial;
    margin-bottom: 2.7rem;
}

.bckgrnd-clr .price ul li {
    color: #574c3c;
    font-size: .9rem;
    margin-bottom: .4vw;
}

.happy-hour {
    background-color: #fffdf4c5;
    width: 95%;
}
.happy-hour ul {
    font-size: large;
}


.contact .row .col .card {
    border: none;
    width: 100%;
    justify-content: center;
}

.contact .row .col .card p {
    font-size: 1.8vw;
}

.contact .row {
    width: 100%;
}

.contact .row .col {
    margin: .4rem;
}

.bckgrnd-clr .contact .card a {
    color: rgb(255, 255, 234);
}

.bckgrnd-clr .contact .card a:hover {
    color: rgb(255, 203, 107);
}

.contact .card a {
    text-decoration: none;
    transition: .4s;
}

.bckgrnd-dark .contact .card a {
    color: #e1cbf7;
}

.api-map {
    height: 49vw;
    opacity: .9;
}

.left-pic,
.right-pic {
    display: flex;
    justify-content: center;
}

.left-pic .exhibit {
    flex-wrap: wrap;

}

.right-pic .exhibit {
    flex-wrap: wrap-reverse;
}

.exhibit {
    width: 100%;
}

.exhibit .description {
    min-width: 340px;
    max-width: 65%;
    display: block;
}

.exhibit .picture {
    min-width: 210px;
    max-width: 35%;
    align-items: center;
}

.bckgrnd-dark .contact .card a:hover {
    color: rgb(145, 98, 219);
}


.game-form .cdb-form {
    width: 50%;
}

#team .back-light,
#team .back-dark {
    display: flex;
    justify-content: left;
    align-items: center;
}

#team img {
    min-width: 4rem;
    max-width: 6rem;
}

.bckgrnd-clr #team p {
    font-size: medium;
    margin: 0 3vw;
    text-align: left;
}

.bckgrnd-dark #team p {
    margin: 0 3vw;
    text-align: left;
    font-size: large;
}

.space-eve {
    width: 75%;
    justify-content: space-evenly;
}

.an-custom h1,
.an-custom h2,
.an-custom h3,
.an-custom h4 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}

.back-green .card {
    background: transparent;
}

.bckgrnd-clr .back-green .card a {
    color: #243d2c;
}

.footer .back-green a {
    color: #426b50;
}

.footer .back-green a:hover {
    color: #1cbb71 !important;
}

.bckgrnd-clr .back-green .card a:hover {
    color: #426b50 !important;
}

.an-custom p {
    font-family: "merriweather";
}

.an-custom .full-width {
    width: 100%;
}

.price .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    max-height: 80px;
    width: auto;
}

.news .row {
    width: 33%;
}

.news .row .card {
    width: 100%;
}

#rgames img,
#vrgames img,
#rconsoles img,
#vrconsoles img {
    width: 10vw;

}

.bckgrnd-clr .no-records-found {
    border: none;
}

.bckgrnd-clr .no-records-found td {
    font-family: 'ibm plex mono';
    background-color: rgb(230, 186, 103);
    border-radius: 8px;
}

#rgames tr,
#vrgames tr,
#rconsoles .back-dark,
#vrconsoles tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgba(0, 0, 0, 0.521);
}

.gamesTable {
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 234);
    border: 10px;
}

.gamesTable tr {
    background-color: rgba(0, 0, 0, 0.521);
    margin: 0.5rem;
    padding: 0.5rem;
}

.rGamesStyle tr {
    border-radius: 10px;
}

#rgames td,
#rgames th,
#rconsoles td {
    font-size: x-large;
}

#vrgames td,
#vrgames th,
#vrconsoles td,
#vrconsoles th {
    font-size: large;
}

#rgames th,
#rgames .th-inner,
#rgames td,
#vrgames th,
#vrgames .th-inner,
#vrgames td,
#rconsoles .back-dark .th-inner,
#rconsoles .back-dark td,
#vrconsoles .back-dark .th-inner,
#vrconsoles .back-dark td {
    background-color: transparent;
    color: #fffdf4c5;
    border: none;
}

#rgames td,
#vrgames td {
    width: 20%;
}

#rgames th:last-child {
    display: none;
}

#rconsoles thead tr,
#rgames thead tr,
#vrconsoles thead {
    display: none !important;
}

.rgenres {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rgenres ul {
    padding: 0 2vw;
}

.game-form .dropdown-menu.show {
    display: flex;
}

.footer .tiktok-icon svg {
    width: 20px;
    fill: white;
    transition: .3s;
}

.footer .tiktok-icon svg:hover {
    fill: #a977fa !important;
}

#business,
#academy {
    background-color: #040607d0;
}



.ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
}

.ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.ikxBAC,
.ikxBAC::after {
    transition: all 100ms ease-out;
}

.ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.ikxBAC input[type=checkbox] {
    cursor: default;
}

.ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
}

.ikxBAC:checked {
    background-color: #72b8a3;
}

.ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
}

.ikxBAC:focus:not(.focus-visible) {
    outline: 0;
}

.ikxBAC:checked:hover {
    background-color: #72b8a3;
}


.landing {
    width: 100%;
    height: 100%;
    background-color: #0c1418;
}

.mainpart {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bckgrnd-clr .news h3 {
    font-size: large;
}

.bckgrnd-clr .news p {
    font-size: large;
}

.back-green p,
.back-green ul {
    text-align: left;
}

.back-green ul {
    list-style: square;
}

.back-green .card p {
    text-align: center;
}

.back-green .list-unstyled {
    list-style: none;
    text-align: center;
}


#retroVideo {
    width: 100%;
    height: fit-content;
}

#muteButton {
    padding: 1rem;
    background-color: rgb(230, 186, 103);
    border-radius: 3px;
    transition: 0.4s;
    border-style: outset;
    font-family: "source code pro", monospace;
    font-size: calc(1rem + 1.1vw);
    margin: 0.6rem;
}

.an-back .back-light ul {
    font-size: 1.5vw;
}

.landing {
    display: flex;
    flex-direction: column;
    height: 100vh;
overflow: hidden;
}

.mainpart {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    text-align: center;
    background-attachment: fixed;
    display: block;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 33vh;

}
.mainpart img {

    justify-content: center;
    align-items: center;
    height: 33vh;
    width: fit-content;
}
/* 
#gotoretro {
    background-image: url(images/tuo.jpg) !important;
    background-position: bottom;
    font-family: "press start 2p";
    font-size: 5vw;
}

#gotovr {
    background-image: url(images/vrtlo.jpg) !important;
    background-position: top center;
    font-family: "Play";
    font-weight: bolder;
}

#gotobar {
    background-image: url(images/bar-back.png) !important;
    background-position: center;
    font-family: "Libre Baskerville";
    font-weight: bolder;
}

.landing a {
    text-decoration: none;
    font-size: 5.3vw;
    padding-top: 10vh;
    text-shadow: -15px 5px 20px #ced0d3;
    color: white;
    letter-spacing: -0.05em;
    transition: all 0.35s ease-out;
}
.landing a:hover {
    text-shadow: -16px 6px 15px #ced0d3;
} */