.back-dark {
    /* background-color: #0000009c; */
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 234);
}

.back-dark h3 {
    font-family: 'press start 2p';
    font-size: calc(1.2rem + 1vw);
}

.back-dark .col {
    width: 100%;
    background-color: #0000009c;
    border-radius: 10px;
}

.back-dark .card {
    background: none;
    border: none;
    color: rgb(255, 255, 234);
}

.permanent,
.price {
    display: flex;
    justify-content: center;
}

.permanent .row,
.back-dark .row-cols-1,
.price .row-cols-3 {
    margin: 0 .4rem;
}

.back-dark p {
    font-size: calc(1rem + 0.4vw);
    color: rgb(255, 255, 234);
}


@media (max-width: 1300px) {
    .permanent {
        flex-wrap: wrap;
    }

    .back-dark .row-cols-2 {
        width: 100%;
    }

    .permanent .row,
    .back-dark .row-cols-1 {
        margin-top: .5rem;
    }

    .back-dark {
        font-size: calc(.5rem + 1vw);
    }

    .price {
        flex-wrap: wrap;
    }

    .price .row {
        width: 100% !important;
        margin: 0 2rem;
    }

    .price h4 {
        font-size: calc(1rem + 2vw) !important;
    }

    .price h2 {
        font-size: calc(2rem + 2.5vw) !important;
    }

    .price ul {
        margin-left: 2rem;
    }

    .price li {
        font-size: calc(1rem + 1.1vw) !important;
    }
}

.price .row {
    width: 33.33333333%;
}

.price .row .col {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.price .row .col .card {
    background-color: #fffdf4c5;
    border: none;
    padding: .8rem;
    width: 100%;
    justify-content: center;
}

.price h4 {
    font-size: 1rem;
    margin-top: 2rem;
}

.price ul {
    text-align: initial;
    margin-bottom: 2.7rem;
}

.price ul li {
    color: #574c3c;
    font-size: .9rem;
}

.contact .row {
    width: 100%;
}
/* 
.back-dark .contact .row .col {
    width: 90%;
} */

@media (min-width: 800px) {
    .contact .slim {
        width: 40% !important;
        margin: .5rem;
    }
}

.contact .card a {
    text-decoration: none;
    transition: .4s;
    color: rgb(255, 255, 234);
}

.contact .card a:hover {
    color: rgb(255, 203, 107);
}