.bckgrnd-clr .back-dark {
    margin: 0.5rem;
    padding: 0.5rem;
    color: rgb(255, 255, 234);
}


.bckgrnd-clr .back-light .card {
    background-color: unset;
    border: none;
}

.back-dark h3,
.back-light h3 {
    font-family: 'press start 2p';
    font-size: calc(1.3rem + 1vw);
    margin: 1.2vw;
}

.back-dark .card {
    background: none;
    border: none;
    color: rgb(255, 255, 234);
    align-items: center;
}

.back-dark .card img {
    max-height: 35vw;
    width: fit-content;
}

.permanent,
.price {
    display: flex;
    justify-content: space-between;
}

.bckgrnd-clr .price .back-light,
.bckgrnd-clr .offer .back-light {
    background-color: #fffdf4c5;
}

.offer ul {
    list-style: circle;
    text-align: left;
    font-size: larger;
}

.offer .back-light a {
    text-decoration: none;
    color: black;
    transition: .4S;
}

.offer .back-light a:hover {
    color: #c58141 !important;
}

.offer .back-dark ul,
.offer .back-dark p
 {
    color: #ebddfa;
}

.offer .back-dark h4 {
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.offer .back-dark a {
    text-decoration: none;
    color: #cdb9f3;
    transition: .4s;
}

.offer .back-dark a:hover {
    color: #7f8cff;
}

.permanent .row,
.back-dark .row-cols-1,
.price .row-cols-3,
.back-dark .row-cols-2 {
    margin: .4rem;
}

.back-dark .row-cols-2 {
    width: 40%;
}

.bckgrnd-clr .back-dark p {
    font-size: calc(1rem + 0.7vw);
    color: rgb(255, 255, 234);
}

.bckgrnd-clr .back-dark .row-cols-2 {
    width: 50%;
    background-color: #061d259a;
}

.bckgrnd-clr .price .row {
    width: 33.33333333%;
}

.price .row .col,
.bckgrnd-clr .contact .row .col {
    width: 100%;
    border-radius: 10px;
    border: none;
}

.price .row .col .card {
    background-color: #fffdf4c5;
    border: none;
    padding: .8rem;
    width: 100%;
    justify-content: center;
}

.price .row .col .card {
    background-color: unset;
    justify-content: flex-start;
}

.price .row .col .card h1 {
    margin-bottom: 2vw;
}

.price .row .col .card h2 {
    margin: 0;
    padding: 0;
    font-size: 3.4vw;
}

.bckgrnd-dark .price h4 {
    margin-top: 2vw;
    font-size: 2vw;
    color: #24ff78;
}

.bckgrnd-dark .price ul li {
    color: #cdb9f3;
    font-size: 1.5vw;
}

.price .back-dark {
    width: 50%;
}

.price h4 {
    font-size: 1rem;
    margin-top: 2rem;
}

.price ul {
    text-align: initial;
    margin-bottom: 2.7rem;
}

.bckgrnd-clr .price ul li {
    color: #574c3c;
    font-size: .9rem;
    margin-bottom: .4vw;
}

.contact .row .col .card {
    border: none;
    width: 100%;
    justify-content: center;
}

.contact .row .col .card p {
    font-size: 1.7vw;
}

.contact .row {
    width: 100%;
}

.contact .row .col {
    margin: .4rem;
}

.bckgrnd-clr .contact .card a {
    color: rgb(255, 255, 234);
}

.bckgrnd-clr .contact .card a:hover {
    color: rgb(255, 203, 107);
}

.contact .card a {
    text-decoration: none;
    transition: .4s;
}

.bckgrnd-dark .contact .card a {
    color: #e1cbf7;
}

.api-map {
    height: 49vw;
    opacity: .85;
}

.left-pic,
.right-pic {
    display: flex;
    justify-content: center;
}

.left-pic .exhibit {
    flex-wrap: wrap;

}

.right-pic .exhibit {
    flex-wrap: wrap-reverse;
}

.exhibit {
    width: 100%;
}

.exhibit .description {
    min-width: 340px;
    max-width: 65%;
    display: block;
}

.exhibit .picture {
    min-width: 210px;
    max-width: 35%;
    align-items: center;
}

.bckgrnd-dark .contact .card a:hover {
    color: rgb(145, 98, 219);
}


.game-form .cdb-form {
    width: 50%;
}

#team .back-light {
    display: flex;
    justify-content: center;
    align-items: center;
}
#team img {
    min-width: 4rem;
    max-width: 15rem;
}
#team p {
    margin: 0 3vw;
}
.space-eve {
    width: 75%;
    justify-content: space-evenly;
}

.an-custom h1,
.an-custom h2,
.an-custom h3,
.an-custom h4 {
    font-family: "Libre Baskerville", serif;
    font-weight: bold;
}

.an-custom p {
    font-family: "merriweather";
}

.an-custom .back-light {
    background-color: #c9f8e29c;
}
.price .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title img {
    max-height: 80px;
    width: auto;
}