
.bckgrnd-clr {
    background-image: url(tuo.jpg) !important; 
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;

}
#navbar{
    background: linear-gradient(to top, rgba(248, 249, 250, 0.651),  rgba(248, 249, 250, 0.527)), url(tuo.jpg) no-repeat  ;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

.nav-link {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600 !important;
    font-size: large !important;

}
.nav-item {
    transition: 0.4s;
}
.nav-item a:hover {
    font-weight: 800 !important;
}
.dropdown-item{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400 !important;
    font-size: medium !important;
transition: 0.4s;
}
.dropdown-menu a:hover {
    background-color: #ffffff;
}
.bg-light {
    --bs-bg-opacity: 0.7 !important;
}

.navbar-brand img {
    margin-left: 3rem;
    margin-right: 3rem;
}

.dropdown-menu.show {
    display: block;
    background-color: #ffffffa8;
}
.fixed-top{
    position:sticky  !important;
}
#container-fluid {
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
}

.footer {
    background: #061D25;
    padding: 10px 0;
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }
