.container-md,
.container-sm {
    max-width: 100% !important;
}

.bckgrnd-clr {
    background-image: url(images/tuo.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

#navbar {
    background: linear-gradient(to top, rgba(248, 249, 250, 0.651), rgba(248, 249, 250, 0.527)), url(images/tuo.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

.navbar-brand img {
    max-width: 16rem;
}

.nav-link {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700 !important;
    font-size: calc(0.9rem + .9vw) !important;
}

.nav-item {
    transition: 0.4s;
}

.bckgrnd-clr .nav-item a:hover {
    font-weight: 900 !important;
    color: black;
}

.dropdown-item {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400 !important;
    font-size: calc(0.7rem + 0.7vw) !important;
    transition: 0.4s;
}

.dropdown-menu a:hover {
    background-color: #ffffff;
}

.bg-light {
    --bs-bg-opacity: 0.7 !important;
}

.dropdown-menu.show {
    display: block;
    background-color: #fcf1c0;
    text-align: center;
}

.navbar-toggler-icon {
    width: 3em !important;
    height: 2em !important;
}

.fixed-top {
    position: sticky !important;
}

#container-fluid {
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 3rem;
}

.container {
    font-family: "IBM Plex Mono", monospace;
}

.container p {
    color: black;
    font-size: calc(1rem + 0.9vw);
}

.back-light {
    background-color: #fcf1c09c;
    margin: 0.5rem;
    padding: 0.5rem;
}

.back-light-wrapper,
.back-dark-wrapper,
.back-dark-wrap {
    display: block;
    padding: 2rem;
}

.back-light-wrapper h2,
.back-light h2,
.back-dark-wrapper h2,
.back-dark h2 {
    padding: 1rem 0 1rem 0;
    font-family: 'press start 2p';
    font-size: calc(2rem + 1.6vw);
}

.opening-hours {
    display: flex;
    justify-content: center;
}

.opening-hours ul {

    list-style: none;
    text-align: left;
    padding: 0 1.5rem 0 1.5rem;
    font-size: calc(1rem + 1.2vw);
}

.back-light-wrapper ul {
    list-style: none;
}

.back-light-wrapper button {
    padding: 1rem;
    background-color: rgb(230, 186, 103);
    border-radius: 3px;
    transition: 0.4s;
    border-style: outset;
    font-family: "source code pro", monospace;
    font-size: calc(1rem + 1.1vw);
    margin: 0.6rem;
}

.back-light-wrapper button a {
    color: #061D25;
    text-decoration: none;
}

.back-light-wrapper button:hover {
    background-color: rgb(221, 145, 74);
    border-style: inset;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.tabs {
    display: block;
}

.footer {
    background: #061D25;
    padding: 10px 0;
}

.footer a {
    color: #70726F;
    font-size: 2vw;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}

.footer a:first-child {
    border-left: 1px solid #70726F;
}

.footer a:hover {
    color: white;
}


.bckgrnd-dark {
    background-image: url(images/vrtlo.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ad56ff;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

#navvr {
    background: linear-gradient(to top, rgba(248, 249, 250, 0.651), rgba(248, 249, 250, 0.527)), url(images/vrtlo.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  #ad56ff;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
    font-family: "Play";
}

.navvr-brand img{
    max-width: 10rem;
    margin: 0 2rem;
}

.bckgrnd-dark .nav-link {
    font-family: "Play";
    font-weight: 700 !important;
    font-size: calc(0.9rem + .9vw) !important;
    margin-left: 2rem;
}

.bckgrnd-dark .dropdown-item {
    font-family: "Play";
    font-weight: 400 !important;
    font-size: calc(0.7rem + 0.7vw) !important;
    transition: 0.4s;
    color: #e1cbf7;
}

.nav-item .dropdown-menu.show :hover {
  color: black;
}

.bckgrnd-dark .dropdown-menu.show {    
    background-color: rgb(65, 26, 102);

}

.bckgrnd-dark .container {
    font-family: "Play";
}

.bckgrnd-dark h1,
.bckgrnd-dark h2,
.bckgrnd-dark h3,
.bckgrnd-dark h4 {
    font-family: "Josefin sans" !important;
}

.bckgrnd-dark .back-dark-wrap {
    background-color: #061d259a;
    color: #e1cbf7;
    margin:1.5rem;
}

.bckgrnd-dark .back-dark-wrap button a,
.bckgrnd-dark .back-dark-wrap p {
text-decoration: none;
color: #e1cbf7;
}


.bckgrnd-dark .back-dark-wrap button {
    padding: 1rem;
    background-color: rgb(17, 5, 83);
    border-radius: 3px;
    transition: 0.4s;
    border-style: outset;
    font-family: "play";
    font-size: calc(1rem + 1.1vw);
    margin: 0.6rem;
    border: none;
}


.bckgrnd-dark .back-dark-wrap button:hover {
    background-color: rgb(65, 26, 102);
}


.bckgrnd-dark h2 {
font-size: 4rem;
padding-top: 1.5rem;
}
.bckgrnd-dark .back-dark h3 {
    font-size: calc(2.3rem + 2vw);
}
.bckgrnd-dark h4 {
    font-size: 1rem;
    margin-top: 2rem;
}


@media screen and (max-width: 1020px) {
    .permanent {
        display: block !important;
      }
      .price {
        display: block !important;
      }
      .price .row {
        width: 100% !important;
      }
      .price .row .card li {
        font-size: 2.5vw;
    }
}
@media only screen and (max-width:800px) {
    .navbar-brand img {
        max-width: 17rem !important;
    }

    .navbar-nav .nav-item {
        font-size: 4vw !important;
    }

    .navbar-nav ul .dropdown-item {
        font-size: 3.8vw !important;
    }

    .footer .container a i {
        font-size: 4vw !important;
    }
    .bckgrnd-clr .container {
        max-width: 100% !important;
    }
    .price .row .card h4 {
        font-size: 4vw !important;
    }
    .price .row .card li {
        font-size: 3.5vw;
    }

}

@media only screen and (max-width: 610px) {
    .opening-hours ul li {
        font-size: initial !important;
    }    
    .back-light-wrapper button {
        font-size: 5vw;
      }

    .back-lighter h3 {
        font-size: 5vw !important;
    }

}

@media only screen and (max-width:570px) {

    h2 {
        font-size: 6.8vw !important;
    }
    .container p,
    .back-dark p {
        font-size: 5vw !important;
    }
    .back-light-wrapper .col {
        width: 100% !important;
    }

}

@media only screen and (max-width:450px) {
    .navbar-brand img {
        max-width: 10rem !important;
    }
    .price .row .card h4, 
    .price .row .card li {
font-size: 4vw;
    }

}

@media only screen and (max-width:360px) {
    .navbar-brand img {
        max-width: 8.5rem !important;
    }
    h2 {
        font-size: 4.6vw !important;
    }
    .container p,
    .back-dark p {
        font-size: 4.8vw;
    }
    .contact .row .col .card {
        padding: 0 !important;
    }

}