.ibm {
    font-family: 'IBM plex mono';
}

.presstart {
    font-family: "press start 2p";
}

.bckgrnd-clr {
    background-image: url(images/tuo.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

.an-back {
    background-image: url(images/bar-back.png) !important;
    background-color: #3a745d;
}

.an-back #navbar {
    background: linear-gradient(to top, rgba(248, 249, 250, 0.151), rgba(248, 249, 250, 0.527)), url(images/bar-back.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;

}

#navbar {
    background: linear-gradient(to top, rgba(248, 249, 250, 0.116), rgba(248, 249, 250, 0.527)), url(images/tuo.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f5a85f;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

.navbar-brand img {
    max-width: 16rem;
}

.nav-link {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700 !important;
    font-size: calc(0.9rem + .9vw) !important;
}

.nav-item {
    transition: 0.4s;
}

.bckgrnd-clr .nav-item a:hover {
    font-weight: 900 !important;
    color: black;
}

.dropdown-item {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400 !important;
    font-size: calc(0.7rem + 0.7vw) !important;
    transition: 0.4s;
}

.dropdown-menu a:hover {
    background-color: #ffffff;
}

.bg-light {
    --bs-bg-opacity: 0.7 !important;
}

.dropdown-menu.show {
    display: block;
    background-color: #fcf1c0;
    text-align: center;
}

.navbar-toggler-icon {
    width: 3em !important;
    height: 2em !important;
}

.fixed-top {
    position: sticky !important;
}

.bckgrnd-clr .font-an a {
    font-family: "Sawarabi Mincho", serif;
}

#container-fluid {
    overflow: auto;
    padding: 12px;
    box-sizing: border-box;
}

.container p {
    color: black;
    font-size: 1.5vw;
}

#aboutr,
#aboutr .carousel-item,
.offer .slide,
.offer .slide .carousel-item,
#aboutv,
#aboutv .carousel-item {
    height: 45vw;
}

#aboutr .carousel-item img,
.offer .slide .carousel-item img,
#aboutv .carousel-item img {
    height: 100%;
    width: fit-content;
    margin: auto;
}

.back-light {
    background-color: #fcf1c09c;
    margin: 0.5rem;
    padding: 2vw;
    border-radius: 10px;
}

.back-dark {
    background-color: rgba(0, 0, 0, 0.521);
    margin: 0.5rem;
    padding: 2vw;
}

.bckgrnd-dark .back-dark {
    color: #e1cbf7;
}

.bckgrnd-clr .back-dark {
    color: #e1e1e1;
    border-radius: 10px;
}

.back-light-wrap,
.back-dark-wrap {
    display: block;
    padding: 2rem;
}



.back-light-wrap h2,
.back-light h2,
.bckgrnd-clr .back-dark-wrap h2,
.bckgrnd-clr .back-dark h2 {
    padding: 1rem 0 1rem 0;
    font-size: calc(2rem + 1.6vw);
}


.opening-hours {
    display: flex;
    justify-content: center;
}

.opening-hours table tr {
    text-align: start;
    font-size: calc(1rem + 1.2vw);
}

.opening-hours table td {
    padding-left: .7rem;
}

.back-light-wrap ul {
    list-style: none;
}

.back-light-wrap button {
    padding: 1rem;
    background-color: rgb(230, 186, 103);
    border-radius: 3px;
    transition: 0.4s;
    border-style: outset;
    font-family: "source code pro", monospace;
    font-size: calc(1rem + 1.1vw);
    margin: 0.6rem;
}

.inventory .game-form .dropdown,
.bckgrnd-clr .form-control {
    padding: .375rem .75rem;
    transition: 0.4s;
    border-style: unset;
    margin: 0.6rem;
}

.rgamesbck .form-control,
.rgamesbck #filterButton {
    font-family: "source code pro", monospace;
    background-color: rgb(230, 186, 103);
    border-radius: 3px;
    border: unset;
    color: #212529;
}


.inventory #vrFilterButton {
    background-color: rgb(17, 5, 83);
    border: unset;
    color: #e1cbf7;
 padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
 margin: 0;
    font-size: var(--bs-btn-font-size);
}

.vrgamesbck .form-control {
    padding: .375rem .75rem;
    transition: 0.4s;
    border-style: unset;
    margin: 0.6rem;
    background-color: #e1cbf7;
   
    border: unset;
    font-size: var(--bs-btn-font-size);
}

.inventory .form-group #genreFilter,
.inventory .form-group #platformFilter,
.inventory .form-group label {
    text-align: left;
    margin: .2rem 2rem;
}

.rgamesbck .form-group {
    border-radius: 10px;
    background-color: #fcf1c09c;
    padding: .4rem;
    height: fit-content;
}

.vrgamesbck .form-group {
    border-radius: 10px;
    background-color: #8ca6d69c;
    padding: .4rem;
    height: fit-content;
}

.inventory .gameslab {
padding: 0.5rem 1.5rem;
font-weight: bold;
}

.inventory button {
    width: 220px;
}

.inventory a {
    text-decoration: none;
    color: #061D25;
}

.inventory .item {
    align-self: center;
}

.inventory {
    margin-bottom: 2vw;
}

.game-form {
    float: left;
}

.bckgrnd-clr .form-control:focus {
    background-color: rgb(235, 181, 130) !important;
}

.bckgrnd-dark .form-control:focus {
    background-color: rgb(180, 161, 216) !important;
}

.back-light-wrap button a {
    color: #061D25;
    text-decoration: none;
}

.back-light-wrap button:hover {
    background-color: rgb(221, 145, 74);
    border-style: inset;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    margin: 1rem;
}

.card img,
.picture img {
    max-width: 100%;
    height: fit-content;
}

.tabs {
    display: block;
}

#coop .container img {
    width: 15rem;
    height: auto;
    margin: 1.7vw;
}

.footer .col-md-5 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer .bg-light,
.footer .order-md-1 {
    padding: 1.2vw;
}

.footer a {
    transition: .4s;
}

.footer a:hover {
    color: #c58141 !important;
}

.footer-dark a:hover {
    color: #a977fa !important;
}

.footer-dark {
    background-color: #061D25;
}

.footer-dark .bg-dark {
    padding: 1.2vw;
}

.footer-dark h4 {
    font-size: 1.5rem !important;
    color: #e1cbf7;
}

.footer-dark address {
    color: #e1cbf7;
}

.footer-dark a {
    color: #e1cbf7;
}

.footer-dark li {
    color: #ffe3e3;
}

.bckgrnd-dark {
    background-image: url(images/vrtlo.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ad56ff;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
}

.bckgrnd-dark .contact .card p {
    text-align: center !important;
}

.h1bold {
    color: #061D25;
}

.back-light ul {
    list-style: none;
    font-family: "ibm plex mono";
    font-size: 1.9rem;
}

.h1bold ul li {
    transition: .3s;
}

.h1bold ul a {
    color: #061D25;
    text-decoration: none;
}

.h1bold ul li:hover {
    color: black;
    font-weight: 600;
}

#central-station,
#central-station .carousel-item img,
#gus03,
#gus03 .carousel-item img,
#wawelska,
#wawelska .carousel-item img,
#gus,
#gus .carousel-item img {
    height: 30vw;
    object-fit: cover;
    margin: auto;
}

#central-station,
#central-station .carousel-item,
#gus03,
#gus03 .carousel-item,
#wawelska,
#wawelska .carousel-item,
#gus,
#gus .carousel-item {
    max-height: 45vw;
}

#navvr {
    background: linear-gradient(to top, rgba(248, 249, 250, 0.171), rgba(248, 249, 250, 0.527)), url(images/vrtlo.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ad56ff;
    text-align: center;
    background-attachment: fixed;
    background-position: top center;
    font-family: "Play";
}

#navvr .dropdown-menu {
    padding: 0;
    border-radius: 0;
}

#navvr .dropdown-item:hover {
    background-color: #ffffffaf;

}

.navvr-brand img {
    max-width: 10rem;
    margin: 0 2rem;
}

.bckgrnd-dark .nav-link {
    font-family: "Play";
    font-weight: 700 !important;
    font-size: calc(0.9rem + .9vw) !important;
    margin-left: 2rem;
    transition: .3s;
}

.bckgrnd-dark .nav-link:hover {
    background-color: #a977fa8e;
    border-bottom-right-radius: 100%;
    border-top-left-radius: 100%;
}

.bckgrnd-dark .dropdown-item {
    font-family: "Play";
    font-weight: 400 !important;
    font-size: calc(0.7rem + 0.7vw) !important;
    transition: 0.5s;
    color: #e1cbf7;
    padding: 1.2vw;
}

.nav-item .dropdown-menu.show :hover {
    color: black;
}


.swiper {
    width: 600px;
    height: 300px;
}


.bckgrnd-dark .dropdown-menu.show {
    background-color: rgb(65, 26, 102);

}

.bckgrnd-dark .container {
    font-family: "Play";
}

.bckgrnd-dark h1,
.bckgrnd-dark h2,
.bckgrnd-dark h3,
.bckgrnd-dark h4 {
    font-family: "Josefin sans" !important;
}

.bckgrnd-dark .back-dark p,
.bckgrnd-dark .back-dark .card p,
.bckgrnd-dark .exhibit p {
    text-align: justify;
}

.bckgrnd-dark .back-dark .vr-rez a,
.bckgrnd-dark .back-dark p {
    text-decoration: none;
    color: #e1cbf7;
}


.bckgrnd-dark .back-dark .vr-rez,
.bckgrnd-dark .inventory button {
    padding: 1rem;
    background-color: rgb(17, 5, 83);
    border-radius: 3px;
    transition: 0.4s;
    border-style: outset;
    font-family: "play";
    font-size: calc(1rem + 1.1vw);
    margin: 0.6rem;
    border: none;
    color: #e1cbf7;
}

.bckgrnd-dark .back-dark .vr-rez:hover,
.bckgrnd-dark .inventory button:hover {
    background-color: rgb(65, 26, 102);
}


.bckgrnd-dark h2 {
    font-size: calc(2rem + 1.6vw);
    padding-top: 1.5rem;
}

.bckgrnd-dark h4 {
    font-size: 1rem;
    margin-top: 2rem;
}

.back-green {
    font-family: "merriweather";
    background-color: #b0e3cba8;
}

@media screen and (max-width: 1250px) {

    .container p {
        font-size: 2vw;
    }
    .bckgrnd-dark .offer ul {
        font-size: 1.85vw !important;
    }

    .dropdown-menu[data-bs-popper] {
        right: 2rem !important;
        left: auto !important;
    }

    .bckgrnd-dark .nav-link {
        font-size: calc(0.9rem + .4vw) !important;
        padding: 2vw;
    }

    .navvr-brand img {
        max-height: 5rem;
        margin: 0 2rem;
    }

    .price .card {
        margin: 0 !important;
    }
}

.bckgrnd-clr .price .row img {
    margin: 0 2vw;
}

@media screen and (max-width: 1020px) {
    .permanent {
        display: block !important;
    }

    .back-dark .row-cols-2 {
        width: 100% !important;
    }

    .price {
        display: block !important;
    }

    .price .row {
        width: 100% !important;
    }

    .price .row .card li {
        font-size: 2.5vw;
    }

    .price .row .card ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .back-dark .card h2 {
        margin: 0;
        padding: 0;
    }

    .back-dark .card h4 {

        padding-top: 4.5vw;
    }

    .exhibit .picture,
    .exhibit .description {
        min-width: 100% !important;
        margin: .2rem 0 !important;
    }

    .news .row {
        width: auto !important;
    }

    #rgames .back-dark {
        padding: 0 !important;

    }

    #rgames td,
    #rgames th {
        font-size: small !important;
    }
}


@media screen and (max-width: 991px) {
    .space-eve {
        width: 100% !important;
    }

    .container {
        max-width: 100% !important;
    }

    .container p {
        font-size: 2.5vw;
    }

    .bckgrnd-dark .offer ul {
        font-size: 2.3vw !important;
    }

    .footer ul li {
        font-size: 1.7vw;
    }
}

@media only screen and (max-width:800px) {
    .navbar-brand img {
        max-width: 17rem !important;
    }

    .navbar-nav .nav-item {
        font-size: 4vw !important;
    }

    .navbar-nav ul .dropdown-item {
        font-size: 3.8vw !important;
    }

    .back-light {

        border-radius: 2px;
    }

    .h1bold ul li {
        font-size: 3.55vw !important;
    }

    .back-light-wrap button {
        padding: .65rem;
    }

    .bckgrnd-clr .container,
    .bckgrnd-dark .container {
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .price .row .card h4 {
        font-size: 4vw !important;
    }

    .price .row .card li {
        font-size: 3.5vw;
    }


    .bckgrnd-dark .back-dark {
        margin: 1.5vw 0;
    }

}


@media only screen and (max-width: 766px) {
    .footer ul li {
        font-size: var(--bs-body-font-size) !important;
    }

    .bckgrnd-clr .offer ul li {
        font-size: 2.6vw !important;
    }
}

@media only screen and (max-width: 610px) {

    .back-light-wrap button,
    .back-dark .vr-rez {
        font-size: 5vw !important;
    }

    .back-dark h3 {
        margin: 0.5rem 0 !important;
    }

    .bckgrnd-dark .container .back-dark,
    .bckgrnd-dark .container .back-dark-wrapper {
        padding: 1.2vw !important;
    }

    .back-dark {
        padding: 0 !important;
    }

    .back-dark h3 {
        font-size: 5.5vw !important;
    }
    

    #central-station,
    #central-station .carousel-item img,
    #gus03,
    #gus03 .carousel-item img,
    #wawelska,
    #wawelska .carousel-item img,
    #gus,
    #gus .carousel-item img {
        height: 50vw;
        object-fit: cover;
        margin: auto;
    }
    .offer .back-dark h4 {
        font-size: 1.4rem !important;
    }
}

@media only screen and (max-width:570px) {

    h2 {
        font-size: 5.2vw !important;
    }

    p {
        text-align: center !important;
        font-size: 3.5vw !important;
    }

    .back-light-wrap .col {
        width: 100% !important;
    }

    .opening-hours table tr {
        font-size: calc(.85rem + 1vw);
    }

    #aboutr,
    #aboutr .carousel-item,

    .offer .slide,
    .offer .slide .carousel-item,
    #aboutv,
    #aboutv .carousel-item {
        height: 50vw !important;
    }

    .h1bold ul {
        padding-left: 0;
    }
    .bckgrnd-dark .offer ul {
        font-size: .8rem;
    }
    
}


@media only screen and (max-width:450px) {
    .navbar-brand img {
        max-width: 10rem !important;
    }
    .back-light h3 {
        font-size: calc(1.1rem + 0.8vw) !important;
    }
    .price .row .card h4,
    .price .row .card li {
        font-size: 3.8vw;
    }

    .opening-hours table tr {
        font-size: 3vw;
    }

    .back-light-wrap {
        padding: 1rem;
    }

    .back-lighter {
        padding: 0 !important;
        margin: 0 !important;
    }

    .price .title img {
        height: 55px !important;
    }
#rconsoles td {
        font-size: xx-small !important;
    }
}

@media only screen and (max-width:370px) {
    .navbar-brand img {
        max-width: 47vw !important;
    }

    h2 {
        font-size: 4.6vw !important;
    }

    .contact .row .col .card {
        padding: 0 !important;
    }

    .navvr-brand img {
        margin: 0;
    }

    .back-light-wrap button {
        padding: .35rem;
    }

    #rgames .gamesTable td, #rconsoles td,
    #vrgames .gamesTable td, #vrconsoles td {
        font-size: xx-small !important;
    }
}